.create-container {
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: white;
}

.create-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  background: linear-gradient(to right, #b8bbbc, #3c3d3e);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fefefe;
  color: #111;
}

.create-form button {
  padding: 12px;
  background: linear-gradient(to right, #b8bbbc, #3c3d3e);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.create-form button:hover {
  transform: translateY(-2px);
  background-color: #0077a9;
}
